<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Songs</h1>
    <%= link_to "New song", new_song_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    <%= link_to "Mass Import", new_mass_import_songs_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    <%= link_to "Mass Export", mass_export_songs_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    <%= button_to "Retry Failed Downloads", retry_download_songs_path, method: :post, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div class="flex flex-1 flex-col">
    <ul role="list" class="-mx-2 space-y-1">
    <% @songs.each do |song| %>
      <li>
        <!-- Current: "bg-gray-50 text-indigo-600", Default: "text-gray-700 hover:text-indigo-600 hover:bg-gray-50" -->
        <%= link_to song.title, song_path(song), class: "bg-gray-50 text-indigo-600 group flex gap-x-3 rounded-md p-2 pl-3 text-sm leading-6 font-semibold" %>
      </li>
    <% end %>
    </ul>
  </div>
</div>
