<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Add Song</h1>

  <%= form_with(model: @song, class: "contents") do |form| %>
    <% if @song.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(@song.errors.count, "error") %> prohibited this song from being saved:</h2>

        <ul>
          <% @song.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

      <div class="my-5">
        <%= form.label "Youtube URL" %>
        <%= form.text_field :link, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full dark:text-black" %>
      </div>


      <div class="inline">
        <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
      </div>
  <% end %>

  <%= link_to "Back to songs", songs_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium dark:text-black" %>
</div>
