<div class="mx-auto w-full flex" data-controller="room" data-room-id-value="<%= @room.id %>" data-room-current-time-value="<%= Time.now.to_f %>" data-room-song-start-value="<%= @room.song_start_time %>" data-room-audio-value="<%= @audio %>">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <h1 class="text-3xl font-bold mb-5"><%= @room.name %></h1>
    <p class="mb-5"><%= @room.description %></p>

    <div>
      <% if @audio %>
      <%= image_tag @song.thumbnail, class: "mb-5", data: {'room-target': 'thumbnail'} %>
      <%= audio_tag @song.audio, controls: true, class: "w-full", data: {'room-target': 'videoPlayer'} if @song and @song.audio.attached? %>
      <% else %>
      <%= video_tag @song.video, controls: true, data: {'room-target': 'videoPlayer'} if @song and @song.video.attached? %>
      <% end %>
      <h4 class="mt-4">Currently Playing: <span data-room-target="currentlyPlaying"><%= @room.current_song.title %></span></h4>
      <h4><span data-room-target="listenerCount"><%= @room.listener_count %></span> listeners</h4>
      <button data-action="click->room#play" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-5">Play</button>
      <button data-action="click->room#pause" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-5">Pause</button>
      <button data-action="click->room#sync" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-5">Sync</button>
      <% if @audio %>
      <%= link_to "Show Video", room_path(@room), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-5" %>
      <% else %>
      <%= link_to "Audio Only", room_path(@room, audio: true), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-5" %>
      <% end %>
    </div>
  </div>
  <div class="m-5">
    <h2 class="text-2xl font-bold mb-5">Queue</h2>
    <div class="mb-5 flex">
      <%= button_to "Shuffle All Songs", shuffle_songs_room_path(@room), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-5 me-4" %>
      <%= button_to "Next Song", next_song_room_path(@room), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-5 me-4" %>
    </div>
    <%= render partial: "rooms/add_playlist", locals: { playlists: @playlists, room: @room } %>
    <ul class="list-disc list-inside">
      <% @room.playlist.each do |song| %>
        <li class="mb-2"><%= link_to song.title, song %></li>
      <% end %>
    </ul>
  </div>
</div>

<% content_for :footer_links do %>
  <li><%= link_to "Edit this room", edit_room_path(@room), class: "hover:underline me-4 md:me-6" %></li>
  <li><%= link_to "Back to rooms", rooms_path, class: "hover:underline me-4 md:me-6" %></li>
<% end %>